body {
    margin: 0;
    padding: 0;
}
div {
  height: 300px;
}

#container {
    background-color: black;
    align-content: center;
    padding: 20px;
}

.data {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    height: 40px;
    font-size: 18px;
}

textarea {
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    height: 100px;
    font-size: 18px;
}

#button {
    background-color: cyan;
    text-align: center;
    color: white;
    width: 30%;
    min-width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}



/* If the screen size is 601px or more, set width to 600px.  */
@media only screen and (min-width: 601px) {
  div {
    width: 600px;
  }
}

/* If the screen size is 601px or less, set width to full. */
@media only screen and (max-width: 600px) {
  div {
    width: 100vw;
  }
}

